---
---
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/css/reveal.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/lib/css/zenburn.css">

		{% if page.theme %}
			<link rel="stylesheet" href="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/css/theme/{{ page.theme }}.css">
		{% else %}		
			<link rel="stylesheet" href="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/css/theme/black.css">
		{% endif %}

		<!-- Printing and PDF exports -->
		<script>
			{% include print.js %}
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>{{ page.title }}</h1>
					{{ page.subtitle }}
				</section>
				{% assign slides = content | split: "§new" %}
				{% for slide in slides %}
					<section>
					{% assign vslides = slide | split: "§break" %}
					{% for vslide in vslides %}
						{% assign slidecontent = vslide | split: "§notes" %}
						<section>
							{{ slidecontent.first }}
							{% if slidecontent.last != slidecontent.first %}
								<aside class="notes">
									{{ slidecontent.last }}
								</aside>
							{% endif %}
						</section>
					{% endfor %}
					</section>
				{% endfor %}
			</div>
		</div>

		<script src="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/lib/js/head.min.js"></script>
		<script src="//cdn.rawgit.com/hakimel/reveal.js/{{ site.reveal.version }}/js/reveal.js"></script>

		<script>
			{% include initialisation.js %}
		</script>
	</body>
</html>


